*{
  
    box-sizing: border-box;
}


body{
    display: flex  ;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url("") no-repeat fixed;
   
    background-size: cover;
    background-position: center;
    overflow: hidden;
    user-select: none;
    


}



header{   
 position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
   
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    user-select: none;
    height: 100px;
    

}
.logo{
    margin-top: 50px;
    user-select: none;
    height: 200px;
    width: 300px;
    
}

.logo img{
    height: 100%;
    width: 100%;
   
    cursor: pointer;
    user-select: none;
}

.navigation a {
    
    font-size: 1.1em;
    color: #000000;
    text-decoration: none;
    position: relative;
    font-weight: 500;
    margin-left: 40px;




    
} 


.navigation a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #64ceaa;
    border-radius: 5px;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .5s;
    
    

   

}
.navigation a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}



.navigation .btnlogin{
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #000000;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #000000 ;
    font-weight: 500;

    margin-left: 40px;
transition: .5s;
    
}

.navigation .btnlogin:hover{
    background: #849b1d   ;
    color: #162938;

}

.wrapper{

    position: relative;
    
    margin: 12px auto;
    width: 400px;
    height: 440px;
    background: transparent;
    border: solid 2px rgba(255,255,255,.5); 
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0,0,0,.5);
    display: flex  ;
    justify-content: center;
  
    align-items: center;
    overflow: hidden;
    transform: scale(0);

    transition: transform .5s ease, height .2s ease;
}



.wrapper.active{
    height: 490px;
}
.wrapper.activepop{
    transform: scale(1);
}

.wrapper .formbox{
    width: 100%;
    padding: 40px;
    overflow: hidden;

   
}

.wrapper .formbox.login {
    /* display:none; */
    transition: transform .18s ease;
    transform: translateX(0);

}
.wrapper.active .formbox.login{
 transition: none;
    transform: translateX(-400px);
    
}

.wrapper.active .formbox.register{
    transition:12px;
    transform: translateX(0);
}
.wrapper .formbox.register {
position: absolute;
transition: transform .18s ease;
transform: translateX(400px);


}
.wrapper .icon-close{
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: #162938;

    font-size: 2em;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    z-index: 1;


    cursor: pointer;
}

.formbox h2{
    
    font-size: 2em;
    color: #162938;
    text-align: center;
    font-weight: 500;
    margin-bottom: 20px;
    user-select: none;
   
}

.inputbox{
    position: relative;
    width: 85%;
    height: 50px;
    border-bottom: 2px solid #162938;

    margin-bottom: 12px;
    margin-left: 10px;
}

.inputbox label{
    position: absolute;
    top: 60%;
    left: 1px;
    transform: translateY(-50);

    font-size: 1em;
    color: #162938;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
    
}


.inputbox input:focus~label,
 input:not(:placeholder-shown)~label{
    top: 5px;

  
}





.inputbox input{
   
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background: transparent;
    font-size: .92em;
    color: #162938;
    font-weight: 300;
    padding: 35px 0 5px;
    transition: .5s;
    margin-left: 1px;
   padding-bottom: 5px;
    
    

}

.formbox .icon{
    position: absolute;
    right: 50px;
  
    font-size: 1.2em;
    color: #162938;
    line-height: 90px;
  

}

.remember-forgot{

    font-size: .9em;
    color: #162938;
    font-weight: 500;
    margin: 15px 0 15px;
    display: flex;
    justify-content: space-between;
 
   
}
.remember-forgot label input{
    margin-right: 3px;
    accent-color: #162938;

}

.remember-forgot a{
    color: #162938;
    text-decoration: none;
  
}
.remember-forgot a:hover{
    text-decoration: underline;
}

.btn{
    width: 100%;
    height: 45px;
    background: #162938;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1 em;
    color: #fff;
    font-weight: 500;
    transition: .5s;
}


.login-register{
    font-size: .9em;
    color: #162938;
    font-weight: 500;
    margin-top: 25px 0 10px;
    text-align: center;
}
.login-register p a{
    color: #162938;
    text-decoration: none;
    font-weight: 600;

}
.login-register a:hover{
    text-decoration: underline;
}